body {
    /* font css link  */
    font-family: 'Poppins', sans-serif;
    width: 1170px;
    margin: auto;
}

/* share style */
.btn-primary {
    color: #FF5400;
}

.section-title {
    font-size: 2rem;
}

.section-discription {
    color: #424247;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF5400;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: #FFF;
    border: 0;
    cursor: pointer;
    margin: 10px 0;
}

/* *****header section**** */
/* navber part  */

.logo-container {
    display: flex;
    gap: 15px;
}

.travel {
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
}


nav a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #424247;
}

nav a:hover {
    color: #FF5400;
}

/* banner  */
.banner-container {
    background-image: url('../Images/Group_13.png');
    background-repeat: no-repeat;
    text-align: center;
    padding: 75px;
    border-radius: 20px;
    margin-top: 10px;
}


.banner-discription {
    color: #FFFFFF;
    margin-top: 1px;
}

.travel-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn-white {
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    gap: 20px;
    color: #131318a9;
}

.btn-orange {
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    gap: 20px;
    color: #FFFFFF;
    background-color: #FF5400;
}


/* Popular Tours section */
.tour-container {
    display: flex;
    margin-top: 50px;
}

.tour-content {
    margin-right: 30px;
    margin-bottom: 20px;
}

/* choose us section  */
.choose-container {
    text-align: center;
}

.choose-card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.choose-card {
    border-radius: 8px;
    padding: 30px;

}

.choose-card img {
    width: 4rem;
}

.hotel-color {
    background-color: #fbb46336;
}

.service-color {
    background-color: #29cdf63a;
}

.guarantee-color {
    background-color: #e9444438;
}

.special-color {
    background-color: rgba(5, 5, 92, 0.247);
}

/* discounts section  */
.discounts-container {
    background-image: url('../Images/discounts/Group_39.png');
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    /* padding: 75%; */
    /* border-radius: 20px; */
    /* margin-top: 10px; */
}

.discounts-card {
    border-radius: 8px;
    background-color: #ffffffb9;
    width: 50%;
    padding: 30px;
    margin-left: 43%;
}

.discounts-container2 {
    background-image: url('../Images/discounts/Group_40.png');
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.discounts-card2 {
    border-radius: 8px;
    background-color: #ffffffb9;
    width: 50%;
    padding: 30px;
    margin-right: 43%;
}

.btn-package {
    text-align: center;
}

/* Newsletter */
.newsletter-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    gap: 20px;
}

.form-content {
    border: 1px solid #FF5400;
    border-radius: 20px;
    padding: 20px 30px;
}

.form-input {
    border-radius: 8px;
    padding: 20px 35px;
    font-size: 1.2rem;
    border: 0;
    margin-bottom: 10px;
    background-color: #13131817;
}

.btn-subscribe {
    border-radius: 8px;
    background-color: #FF5400;
    padding: 20px 35px;
    font-size: 1.25rem;
    color: #FFF;
    border: 0;
    /* margin: 10px 0; */
    cursor: pointer;
}



/* Responsive  */
/* mobile  */
@media screen and (max-width:576px) {
    body {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    /* banner  */

    .banner-container {
        margin: 10px;
        padding: 0px;
        bottom: 50px;
    }

    /* travel  */
    .travel-card {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    /* Popular Tours section */
    .tour-container {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .tour-container img {
        width: 100%;
        height: auto;
    }

    /* choose us section  */
    .choose-card-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    /* discounts section  */
    .discounts-container {
        margin: 10px;
        padding: 30px;
    }

    .discounts-card {
        margin: auto;
        width: 70%;
    }

    .discounts-container2 {
        margin: 10px;
        padding: 30px;
    }

    .discounts-card2 {
        margin: auto;
        width: 70%;
    }

    /* Newsletter */
    .newsletter-container {
        flex-direction: column;
        padding: 20px;

    }

    .newsletter-container img {
        width: 100%;
        height: auto;
    }

}

/* table */
@media screen and (min-width:576px) and (max-width:960px) {
    body {
        width: 90%;
        padding: 20px;
    }

    nav {
        flex-direction: column;
        padding: 5px;
    }

    /* banner  */
    .banner-container {
        margin: 10px;
        padding: 0px;
        bottom: 50px;
    }

    /* travel  */
    .travel-card {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    /* Popular Tours section */
    .tour-container {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .tour-container img {
        width: 100%;
        height: auto;
    }

    /* choose us section  */
    .choose-card-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    /* discounts section  */

    /* Newsletter */
    .newsletter-container {
        flex-direction: column;
        padding: 20px;

    }

    .newsletter-container img {
        width: 100%;
        height: auto;
    }

    .form-input {
        padding: 20px 90px;
    }

    .btn-subscribe {
        padding: 20px 120px;
    }

}